extends layout
include ./mixins.pug
block content
  a(href=`/cms/${modelName}`) Back
  h3 Create a #{modelName}
  if errors
    +errorList(errors)
  form.post-form(method="post")
    +fields(fields)

    button(type='submit') Create
    a(href=`/cms/${modelName}`) Cancel


