

extends layout
include ./mixins.pug
block content
  h3 Update a #{modelName}
  if errors
    +errorList(errors)
  form(method="post")
    +fields(fields)

    button(type='submit') Update
    a(href=`/cms/${modelName}`) Cancel
